.DS_Store
/target
.env
/apps/macos/.build
/apps/macos/build
/apps/macos/.swiftpm
/apps/macos/screenshots
/apps/ios/build
/packages/apple/.build
/packages/apple/.swiftpm
xcuserdata/
DerivedData/
node_modules/
/apps/gpui/build
/apps/gpui/target
